@model data_models.Models.MenuItem
@{
    ViewData["Title"] = "writeItem";
}
@if (ViewData["Added"] != null)
{

    <h2>Successful</h2>
    <a asp-action="Addreview" asp-controller="WritingReview" asp-route-id="@(((int)ViewData["pid"]))" class="Bill-Recipt">Go Back</a>
}
else
{
    <div class="container">
        <h2>Thanks: @(((string)ViewData["customer"]))</h2>
        <p>Here is your Order information, pleasn write your review for each one of them. Thanks for your help.</p>
        @if (Model.Category != "Sides")
        {
            <form asp-action="writeItem" method="post" enctype="multipart/form-data">

                <div class="list-group">
                    <a class="list-group-item active">
                        <h4 class="list-group-item-heading">
                            Food: @Html.DisplayFor(modelItem => modelItem.Title)
                        </h4>
                        <p class="list-group-item-text">
                            Catrgory: @Html.DisplayFor(modelItem => modelItem.Category)
                        </p>
                    </a>
                    <a class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Score:
                        </h4>
                        <p class="list-group-item-text">
                            <label class="btn btn-primary">
                                <input type="radio" name="score" id="1" value="1"> 1
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="score" id="2" value="2"> 2
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="score" id="3" value="3"> 3
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="score" id="4" value="4"> 4
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="score" id="5" value="5"> 5
                            </label>
                        </p>
                    </a>
                    <a class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Update a picture:
                        </h4>
                        <p class="list-group-item-text">
                            <input type="file" name="file" id="file"/>
                        </p>
                    </a>
                    <textarea class="form-control" rows="3" name="comment" placeholder="Please input some suggestion for the food."></textarea>
                    <input type="hidden" name="name" value="@(((string)ViewData["customer"]))" />
                    <input type="hidden" name="itemid" value="@Model.MenuItemID" />
                    <input type="hidden" name="payment" value="@(((int)ViewData["pid"]))" />
                </div>
                <input type="submit" value="Submit" class="btn btn-default" />
            </form>
        }
    </div>
}