@model data_models.Models.MenuItem
@{
    ViewData["Title"] = @Html.DisplayFor(m => Model.Title);
}
<h2>@Html.DisplayFor(m => Model.Title)</h2>
@if (Model.DiscountPrice == null)
{
    <h3>@Html.DisplayFor(m => Model.Price)</h3>
}
else
{
    <h3>@Html.DisplayFor(m => Model.DiscountPrice)</h3>
}
<hr />
@if (ViewData["Added"] != null)
{
    <h4>Your selection has been added to your order</h4>
        <a asp-action="Review" asp-route-id="@ViewData["OrderID"]"><h5>Review Order </h5></a>
        <a asp-action="Index" asp-controller="Menu"><h5>Return To Menu </h5></a>
}
else
{
    @if (Model.IsAvailable)
    {
        <div class="row">
            <div class="col-md-4">
                <form asp-action="AddItem" method="post">
                    <input type="hidden" name="ItemId" value="@Model.MenuItemID" />
                    @if (ViewBag.TableId != null)
                    {
                        <div class="form-group">
                            <label class="control-label">Table Number</label>
                            <select asp-items="ViewBag.TableId" name="TableId" class="form-control"></select>
                        </div>
                        <hr />
                    }
                    <div class="form-group">
                        <label class="control-label">Quantity</label>
                        <input class="form-control" name="Quantity" type="number" min="1" max="10" value="1" />
                    </div>
                    @if (ViewBag.SideId != null)
                    {
                        <div class="form-group">
                            <label class="control-label">Side #1</label>
                            <select asp-items="ViewBag.SideId" name="SideId1" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Side #2</label>
                            <select asp-items="ViewBag.SideId" name="SideId2" class="form-control"></select>
                        </div>
                    }
                    <div class="form-group">
                        <label class="control-label">Comment</label>
                        <input class="form-control" name="Comment" type="text" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add to Order" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
        <h3>@Model.Title Customer Review</h3>
        <h4 class="text-warning">@(((double)ViewData["score"])) out of 5 stars</h4>
        @foreach (var item in Model.Reviews)
        {
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Customer； @Html.DisplayFor(modelItem => item.CustomerName)</h3>
                    <p class="text-right">Score: @item.Score</p>
                </div>
                <div class="panel-body">
                   @Html.DisplayFor(modelItem => item.Description)                   
                </div>
                <p class="text-right">@Html.DisplayFor(modelItem => item.Time)</p>
            </div>

        }

    }
    else
    {
        <h4>This menu selection is currently unavailable.</h4>
        <a asp-controller="Menu" asp-action="Index">Back to the Menu</a>
    }
}
