@model data_models.Models.Order
@section headscripts{
<script type="text/javascript">
    function split() {
        var splitters = document.getElementById("ways").value;
        var total = @((double)ViewData["Total"]);
        var costEach = total / splitters;
        costEach = costEach.toFixed(2);
        document.getElementById("AmountEach").value = "$" + costEach;
    }
</script>
}
@{
    ViewData["Title"] = "Bill";
}
<h2>Bill</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Quantity
            </th>
            <th>
                Item
            </th>
            <th>
                Price Each
            </th>
            <th>
                Extended Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuItem.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuItem.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtendedPrice)
                </td>
                <td>
                    <a asp-action="DeleteItem" asp-route-id="@item.OrderItemID">Remove</a>
                </td>
            </tr>
        }
        <tr class="alert-info">
            <td></td>
            <td></td>
            <td>
                <h3>Balance</h3>
            </td>
            <td>
                <h3>@(((double)ViewData["Total"]).ToString("C"))</h3>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<h2>Split The Bill</h2>
<div class="row">
    <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">How Many Ways</label>
                <input class="form-control" id="ways" type="number" min="1" value="1" />
            </div>
            <div class="form-group">
                <label class="control-label">Amount Each</label>
                <input class="form-control" id="AmountEach" type="text" readonly />
            </div>
            <div class="form-group">
                <button class="btn btn-default" onclick="split()">Split</button>
            </div>
        </div>
    </div>

