@model List<List<data_models.Models.MenuItem>>
@{
    ViewData["Title"] = "Menu";
}
@section headscripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('h4 span:first-child').after("<span class=\"dots\"> </span>");
        });

    </script>
}
<h2>Menu</h2>
<p>
    <a asp-action="CallWaiter">Call Waiter</a>
</p>
<p class="text-right">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">
            Sort By:<span class="caret"></span>
        </button>
        <ul class="dropdown-menu col-sm-6" role="menu">
            <li><a asp-action="Index" asp-route-sortOrder="@ViewData["reviewSort"]">Customer Review</a></li>
            <li><a asp-action="Index" asp-route-sortOrder="@ViewData["decreaseSort"]">Price Higher to Lower</a></li>
            <li><a asp-action="Index" asp-route-sortOrder="@ViewData["IncreaseSort"]">Price Lower to Higher</a></li>
        </ul>
    </div>
</p>
<p>All entrées are served with your choice of two side dishes</p>
@{
    @foreach (var CategoryList in Model)
    {
        <div class="menu-section">
            <h3>@Html.DisplayFor(menuLine => CategoryList.ElementAt(0).Category)</h3> <!--Since the category should be the same in all elements of Category list, just take the first-->
            <div class="menu-container">
                @foreach (var item in CategoryList)
                {
                    string title = item.Title;
                    if (item.IsSpecialty)
                    {
                        title = title + " ★";
                    }
                    <h4 class="menu">
                        @if (item.Price == null)
                        {
                            @Html.DisplayFor(name => title)
                        }
                        else
                        {
                            <span><a asp-action="AddItem" asp-controller="Order" asp-route-id="@item.MenuItemID" class="menu-item">@Html.DisplayFor(name => title) </a></span>
                            @if (item.DiscountPrice == null)
                            {
                                <span class="no-discount">@Html.DisplayFor(price => item.Price)</span>
                            }
                            else
                            {
                                <span class="menu-discount"><del>@Html.DisplayFor(price => item.Price)</del> @Html.DisplayFor(discount => item.DiscountPrice)</span>
                            }
                        }
                    </h4>
                    <p>@Html.DisplayFor(desc => item.Description)</p>
                }
            </div>
        </div>
    }

}
