@model IEnumerable<data_models.Models.MenuItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Today's Deals</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    Menu Item
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
                <th>
                    Price
                </th>
                <th>
                    Special Price
                </th>
                <th>
                    Picture
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Alergy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alergy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
        </tr>
}
    </tbody>
</table>
